<<<<<<< HEAD
<h1>New Group</h1>
=======
<div class="panel panel">
  <div class="panel-heading">
  	<div class="form inline">
	Create A New Course</div>
</div>
</div>
>>>>>>> 8dbea2f435ac99e938a1c3b4bb02a7a5f3b7172f

<%= render 'form' %>

<%= link_to 'Back', groups_path %>
