<div class="jumbotron center">
<div class="container">
<h1> Welcome </h1>


	<h6>StudyShark is a online web application that allows students to collaborate with other students from the same university.</h6>

<hr> 
<body>
		<%= link_to "Log In", whyus_path, class: "btn btn-primary" %>
		<%= link_to "Sign Up", whyus_path, class: "btn btn-danger" %>
	</body>
</div>
</div>