<div class="jumbotron center">

<h1> Are You Ready To Be A StudyShark? </h1>

<body>

<p>
	Study shark is a online web application that allows students to collaborate with other students from the same university. Sign up <%= link_to "HERE", whyus_path, class: "btn btn-primary" %>
</p>

</body>

</div>