<div class="jumbotron center">

	<hr>

<% if user_signed_in? %>

<<<<<<< HEAD
<p>Congratulations! You've signed in! Select the class you need help in to join the group.</p>

<%= link_to "Active Groups", groups_path, class: "btn btn-primary btn-large" %>
=======
Congratulations! You've signed in! Select the class you need help in to join the group.
>>>>>>> 3cd7780edb1ec92fab9a569d8fb3f2b8e5ffb60c

	<% else %>

<h2> Welcome to StudyShark! </h2>

StudyShark is a online web application that allows students to collaborate with other students from the same university.

<hr> 
	<p>
<<<<<<< HEAD
		<%= link_to "Sign In", new_user_session_path, class: "btn btn-success btn-large" %>
=======
		<%= link_to "Sign In", new_user_session_path, class: "btn btn-primary btn-large" %>
>>>>>>> 3cd7780edb1ec92fab9a569d8fb3f2b8e5ffb60c
		<%= link_to "Sign Up", new_user_registration_path, class: "btn btn-danger btn-large" %>
	</p>

<% end %>

</div>