<div class="jumbotron center">

<h1> Are You Ready To Be A StudyShark? </h1>

<body>

<p>
	Study shark is a online web application that allows students to collaborate with other students from the same university.
</p>

<hr>
<div class="container">
	<p>
		Sign Up <%= link_to "Now", whyus_path, class: "btn btn-primary" %>
	</p>

</body>

</div>