<nav>
  <ul class="pagination">
    <li><a <%= link_to "Home", root_path %> </a></li>
    <li><a <%= link_to "Why Us?", whyus_path %> </a></li>
    <li><a <%= link_to "How It Works!", howitworks_path %> </a></li>
  </ul>
</nav>